@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursor-pointer-all > * {
  cursor: pointer;
}

.element::after{
  content: "";
  height: 2px;
  max-width: 0px;
  background-color: #4ac6a7;
  display: block;
  margin: auto;
  border-radius: 10px;
  transition: max-width 400ms;
}

.element:hover::after{

  max-width: 100%;

}
